<tr>
  <td><%= partial 'partials/file_link', :locals => {:file => wadl } %></td>
  <td><%= partial 'partials/file_link', :locals => {:file => swagger_yaml } %></td>
  <td><%= partial 'partials/file_link', :locals => {:file => swagger_json } %></td>
  <td>
  <%- if swagger_json.nil? -%>
    N/A
  <%- else -%>
    <%- raw_git_url = "https://rawgit.com/rackerlabs/wadl2swagger/gh-pages/swagger/" -%>
    <%- validator_url = "http://online.swagger.io/validator?url=#{raw_git_url}#{basename}.json" -%>
    <%- validator_debug_url = "http://online.swagger.io/validator/debug?url=#{raw_git_url}#{basename}.json" -%>
    <%- edit_url = "http://editor.swagger.io/#/edit?import=#{raw_git_url}#{basename}.yaml" -%>
    <a href="<%= edit_url %>"><img src="<%= validator_url %>" target="_blank"/></a>
  </td>
  <%- end -%>
</tr>
