<tr>
  <td><%= partial 'partials/file_link', :locals => {:file => wadl } %></td>
  <td><%= partial 'partials/file_link', :locals => {:file => swagger_yaml } %></td>
  <td><%= partial 'partials/file_link', :locals => {:file => swagger_json } %></td>
  <td>
  <%- if swagger_json.nil? -%>
    N/A
  <%- else -%>
    <%- raw_git_url = "https://rawgit.com/rackerlabs/wadl2swagger/gh-pages/swagger/" -%>
    <%- full_yaml_url = settings.site_url + url_for(swagger_yaml) %>
    <%- full_json_url = settings.site_url + url_for(swagger_json) %>
    <%- validator_url = "http://online.swagger.io/validator?url=#{full_json_url}" -%>
    <%- validator_debug_url = "http://online.swagger.io/validator/debug?url=#{full_json_url}" -%>
    <%- edit_url = "http://editor.swagger.io/#/edit?import=#{full_yaml_url}" -%>
    <a href="<%= edit_url %>"><img src="<%= validator_url %>" target="_blank"/></a>
  </td>
  <%- end -%>
</tr>
